.header {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 200;
    flex-flow: row;
    border-bottom: var(--fg-3) solid var(--border-width);
    background: var(--bg-0);
}

.header + * {
    margin-top: calc(5rem + var(--border-width));
}

.logo {
    display: flex;
    margin: 0.5rem 1rem;
    flex-flow: column;
    text-decoration: none;
    text-align: right;
    color: var(--fefan-4);

    h1 {
        font-family: var(--font-details);
        font-weight: 500;
        font-size: 0.75rem;
        margin: -0.10rem 0.35rem;
    }

    img:first-child {
        height: 3rem;
    }

}

.social {
    appearance: none;
    border: none;
    background: unset;
    font-size: unset;
    margin: 0;
    border-radius: 100%;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--fefan-1);
    display: flex;
    align-self: center;
    justify-content: center;
    box-shadow: inset 0 0 6px 3px var(--background);
    transition: all 0.2s ease;
}

.spacer {
    flex: 1;
}

.spacer:first-of-type {
    display: none;
}

.navigation {
    display: flex;
    align-items: center;
    flex: 1;
    a {
        margin: 0 0.35rem;
    }

    .socialLinks {
        align-items: center;
        display: flex;
        margin-right: 1rem;
        justify-content: flex-end;
    }
}

.backdrop {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 100vh;
    z-index: 250;
    background: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease;
}

.burgerIcon {
    display: none;
    align-self: center;
    cursor: pointer;
}

.drawerOpen .navigation {
    left: 0%;
}

.drawerOpen .backdrop {
    bottom: 0vh;
    background: rgba(0, 0, 0, 0.25);
}

.programIcon {
    display: none;
}

@media only screen and (max-width: 992px) {
    .header {
        justify-content: space-between;
        padding: 0 1.5rem;
    }

    .burgerIcon {
        display: block;
    }

    .programIcon {
        display: block;
    }

    .navigation {
        padding: 1rem 0;
        flex-flow: column;
        position: fixed;
        z-index: 300;
        align-items: stretch;
        top: 0;
        max-width: 80vw;
        width: 20rem;
        left: -100%;
        bottom: 0;
        background: var(--bg-0);
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
        transition: all 0.2s ease;

        a {
            padding: 0.5rem;
            text-align: left;
        }

        .spacer:first-of-type {
            display: block;
        }

        .socialLinks {
            justify-content: space-around;
        }
    } 

    .drawerOpen {
        left: 0%;
    }
}