.main {
    display: flex;
    flex: 1 1 0%;
    flex-flow: column;
    align-items: center;

    article {
        width: 60rem;
        display: flex;
        flex-flow: column;
        max-width: 90vw;
        align-self: center;

        h2, h3, h4 {
            font-family: var(--font-details);
        }

        h2 {
            align-self: center;
            font-family: var(--font-details);
            font-size: 2rem;
            font-weight: 400;
        }

        p {
            margin: 10px;
        }
    }
}

@media only screen and (max-width: 641px) {
    .main {
        article {
            text-align: justify;
        }
    }
}