.statBox {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: none;

    &:hover {
        text-decoration: none;
    }
    
    span {
        font-size: 4rem;
        color: var(--fg-0);
    }

    h3 {
        padding: 0px;
        margin: 0px;
        color: var(--fg-1);
    }
}

@media only screen and (max-width: 30rem) {
    .statBox {
        span {
            font-size: 2.2rem;
        }
    }
}