.main {
    flex: 1 1 0%;
    display: flex;
    flex-flow: column;

    h2 {
        align-self: center;
        font-family: var(--font-details);
        font-size: 2rem;
        font-weight: 400;
    }
}

.sponsors {
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    place-items: end center;
    align-self: center;

    figure {
        padding: 1rem 0px;
    }

    figcaption {
        padding: 0.25rem 0px;
        text-align: center;
    }

    img {
        width: 13.5rem;
    }
}

.sponsors figure:last-child {
    grid-column-start: span 4;
}

@media only screen and (max-width: 70rem) {
    .sponsors {
        grid-template-columns: 80vw;

        img {
            width: calc(80vw - 20rem);
        }
    }
    .sponsors figure:last-child {
        grid-column-start: unset;
    }
}
