.timeSlot {
    h4::first-letter {
        text-transform: capitalize;
    }

    h4 {
        font-family: var(--font-details);
        margin: 0px;
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--fefan-3);
    }

    margin-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}