.band {
    padding: 0.75rem 0.25rem;
    max-width: 30vw;
    h4, h5 {
        margin: 0px;
    }

    h4 {
        font-family: var(--font-body);
        font-weight: 500;
        margin: 0px;
        font-size: 1rem;
        text-decoration: none;
    }

    h5 {
        font-size: 0.75rem;
        opacity: 0.75;
        font-weight: 700;
        text-transform: uppercase;
    }
}