.emailButton {
    display: flex;
    flex-direction: column;

    label {
        transition: all ease-in-out var(--transition-time);
    }
}

.copy {
    cursor: copy;
}

.showLabel {
    opacity: 1;
}

.hideLabel {
    opacity: 0;
}