.main {
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-top: 1rem;

    h2 {
        font-family: var(--font-details);
        font-size: 2rem;
        font-weight: 400;
        margin: 0;
    }

    h3 {
      font-size: 0.75rem;
      color: var(--fg-1);
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 1rem;
    }

    h4 {
      font-family: var(--font-details);
      font-size: 1.8rem;
      font-weight: 400;
    }

    .smallProgram {
      margin-top: 2rem;
      display: flex;

      .featuring {

        h4 {
          grid-column: 1 / -1;
        }
        display: grid;
        align-self: center;
        grid-template-columns: repeat(2, calc(80rem / 6));
        align-self: stretch;
        padding: 0 0.5rem;
        justify-self: stretch;
        align-items: stretch;
        justify-items: stretch;
        align-content: start;
        grid-auto-rows: max-content;
      }
    }
}

@media (max-width: 60rem) {
  .main {
    .smallProgram {
      flex-direction: column;

      .featuring {
        grid-template-columns: 1fr;
        align-self: center;
      }
    }
  }
}