.articleBlock {
    display: flex;
    flex-direction: column;

    h4 {
        margin: 1rem 0;
    }

    p {
        margin: 0;
    }

    a {
        margin-top: 1rem;
        align-self: flex-end;
    }
}
