.main {
    flex: 1 1 0%;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;

    // .editionLink {
    // }
}