.main {
    flex: 1;
    display: flex;
    flex-flow: column;

    h2 {
        font-family: var(--font-details);
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
         margin: 1rem 0;
    }

    .villageSection {
        display: flex;
        flex-flow: row;
        width: 60rem;
        align-self: center;

        .villageImg {
            width: 18rem;
            align-self: center;
            flex: 0;
        }
        
        article {
            flex: 1;
            padding: 0 0.5rem;
        }
    }
}

@media (max-width: 60rem) {
    .main {
        .villageSection {
            flex-flow: column;
            width: 96vw;
        }
    }
}